.menu li
{
display: inline;
border: 1px solid black;
background-color:#bbb;
padding: 4px;
liststyle:none;
-moz-border-radius-topleft:10px;
-moz-border-radius-topright: 10px;
}
.menu li.active{
background-color: white;
border-bottom:0px;
}
.menu li:hover {
background-color:#ecc;
}
.menu a {
text-decoration:none;
color:black;
}